<div class="sticky-top chat-header-glass border-bottom-neon shadow-sm">
  <div class="d-flex justify-content-between align-items-center p-3">
    <!-- Left: Connectrix logo -->
    <div class="d-flex align-items-center gap-2 logo-container">
      <img src="/logo.png" alt="Connectrix Logo" height="110" width="100" />
    </div>


    <!-- Right: Toggle icon -->
    <div>
      @if (!searchNewContact) {
      <i class="fas fa-comment-medical cursor-pointer text-success fs-5" (click)="searchContact()"></i>
      } @else {
      <i class="fas fa-times-circle cursor-pointer text-danger fs-5" (click)="searchNewContact = false"></i>
      }
    </div>
  </div>

  <!-- Search & Filter -->
  <div class="d-flex flex-column gap-2 px-3 pb-2">
    <div class="input-group">
      <span class="input-group-text bg-light">
        <i class="fas fa-search text-muted"></i>
      </span>
      <input type="text" class="form-control form-control-sm" placeholder="Search in the chat" aria-label="Search">
    </div>
    <div class="d-flex gap-2">
      <span class="badge rounded-pill text-bg-light cursor-pointer">All</span>
      <span class="badge rounded-pill text-bg-light cursor-pointer">Unread</span>
      <span class="badge rounded-pill text-bg-light cursor-pointer">Favorites</span>
    </div>
  </div>
</div>

<!-- Chat List -->
<div class="chat-list mt-3">
  @if (chats().length && !searchNewContact) {
  @for (chat of chats(); track chat) {
  <div class="d-flex align-items-center justify-content-between border-bottom-gray p-2"
       (click)="chatClicked(chat)">
    <div class="d-flex gap-2">
      <div class="user-img">
        <img src="user.png" alt="">
      </div>
      <div class="d-flex flex-column">
        <span>{{ chat.name }}</span>
        <small class="text-secondary">
          @if (chat.lastMessage === 'Attachment') {
          <i class="fas fa-image"></i>
          }
          {{ wrapMessage(chat.lastMessage) }}
        </small>
      </div>
    </div>
    <div class="d-flex flex-column align-items-end">
          <span class="msg-date" [class.unread]="chat.unreadCount && chat.unreadCount > 0">
            {{ chat.lastMessageTime | date:'dd.MM.yy HH:mm' }}
          </span>
      @if (chat.unreadCount && chat.unreadCount > 0) {
      <small class="unread-msg-badge">{{ chat.unreadCount }}</small>
      }
    </div>
  </div>
  }
  } @else if (searchNewContact) {
  @for (contact of contacts; track contact) {
  <div class="d-flex align-items-center justify-content-between border-bottom-gray p-2"
       (click)="selectContact(contact)">
    <div class="d-flex gap-2">
      <div class="user-img">
        <img src="user.png" alt="">
      </div>
      <div class="d-flex flex-column">
        <span>{{ contact.firstName + ' ' + contact.lastName }}</span>
        @if (contact.online) {
        <small class="text-secondary">Online</small>
        } @else {
        <small class="text-secondary">Last seen&nbsp;{{ contact.lastSeen | date:'dd.MM.yyyy HH:mm' }}</small>
        }
      </div>
    </div>
  </div>
  }
  } @else {
  <div class="text-center text-muted py-3">
    <em>No chat yet...</em>
  </div>
  }
</div>
