@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-violet-400: #7C3AED; /* theme("colors.violet.400") */
        --color-fuchsia-400: #D946EF; /* theme("colors.fuchsia.400") */
        --color-fuchsia-900: #701A75; /* theme("colors.fuchsia.900") */
        --color-amber-300: #FCD34D; /* theme("colors.amber.300") */
        --color-teal-300: #5EEAD4; /* theme("colors.teal.300") */
        --color-gray-950: #0F0F0F; /* theme("colors.gray.950") */
        --color-border: rgba(229, 231, 235, 0.2); /* theme("colors.gray.200/20%") */
        --color-indigo-900: #312E81; /* theme("colors.indigo.900") */
    }

    .border-gradient {
        @apply border-2 border-transparent [background:linear-gradient(var(--color-gray-950),var(--color-gray-950))_padding-box,conic-gradient(from_45deg,var(--color-violet-400),var(--color-fuchsia-400),var(--color-amber-300),var(--color-teal-300),var(--color-violet-400))_border-box];
    }

    .absolute-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
}
